
// reset 

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.img-fluid{
  display: block;
  max-width: 100%;
}


*, *::after, *::before {
    box-sizing: border-box;
 }
html{
  font-size:20px * 0.6;

  @media #{$screen-xs}{
   font-size:20px * 0.8;
  }
  @media #{$screen-sm-min}{
    font-size:20px;
  }
}
body{
	margin:0;
	padding:0;
	font-family: 'Kanit',sans-serif;
  font-style: normal;
	line-height: 1.5;
	font-size:20px * 0.6;
  color:#777777;
  @media #{$screen-xs}{
   font-size:20px * 0.8;

  }
  @media #{$screen-sm-min}{
    font-size:20px;
  }
}

.container{
   @media #{$screen-xls-min}{
    max-width: 1280px;
   }
}
.color-white{
  color:#ffffff !important;
}
.color-k02{
  color:$color-k02 !important;
}
.d-block{
  display: block !important;
}
.d-none{
  display: none !important;
}
.d-inline-block{
  display: inline-block;
}
.text-decoration-none{
  text-decoration: none;
  &:hover{
    text-decoration: underline !important;
  }
}