#footer {
  background: #000;
  padding: 7vw;
  .socail {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    padding-bottom: 30px;
    img {
      width: 47px;
      margin-right: 10px;
      margin-top: 10px;
    }
  }
  .mb-sh {
    @media #{$screen-md-min} {
      display: none;
    }
  }
  .logos {
    img {
      width: 137px;
      @media #{$screen-md-min} {
        
        width: 300px;
      }
    }
  }
}
