#header {
  font-family: "Helvetica 45";
  //   background: $color-k01;
  //   height: 65px * 0.8;
  //   width: 100%;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  z-index: 2;
  // position: relative;

  h1,
  p {
    color: #fff;
    text-align: center;
    line-height: 1.4;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    color: #000;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  /* BASIC SETUP */

  .mb-wrapper {
    width: 100%;
    height: auto;
  }
  .dt-s {
    display: none;
  }
  .nav-wrapper {
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #fff;
    transition: background-color 0.5s ease-in-out;

    .ac {
      transition: background-color 0.5s ease-in-out;
      background-color: #08c6d2;
      .logoo {
        background: url("../images/header/logo-active.svg") no-repeat center top;
        transition: background 1.5s ease-in-out;
      }
      .chat-e {
        background: url("../images/header/nav-chat-active.svg") no-repeat center
          top;
        transition: background 0.5s ease-in-out;
      }
    }
  }

  //   .grad-bar {
  //     width: 100%;
  //     height: 5px;
  //     background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  //     background-size: 400% 400%;
  //     -webkit-animation: gradbar 15s ease infinite;
  //     -moz-animation: gradbar 15s ease infinite;
  //     animation: gradbar 15s ease infinite;
  //   }

  /* NAVIGATION */

  .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 63px;
    // overflow: hidden;
    position: relative;
    .logoo {
      position: relative;
      background: url("../images/header/logo.svg") no-repeat center top;
      width: 137px;
      height: 25px;
      justify-self: center;
      transition: background 1.5s ease-in-out;
    }
    .chat-e {
      justify-self: end;
      position: absolute;
      background: url("../images/header/nav-chat.svg") no-repeat center top;
      width: 74px;
      height: 73px;
      transition: background 1.5s ease-in-out;
      top: 10px;
      right: 0;
      z-index: 2;
    }
    .nav-search {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      justify-self: end;
    }
    .mb-s {
      //   display: block;
    }
    .ssearch {
      padding-top: 6vw;
      padding-bottom: 5vw;
      margin-left: 15px;
      margin-right: 15px;
      position: relative;

      input {
        width: 100%;
        // border: 1px solid #ccc;
        border-radius: 8px;
        outline: 0;
        padding: 13px;
        &::placeholder {
          font-family: "Helvetica 45";
          color: #c0c0c0;
          opacity: 1; /* Firefox */

          //   padding-left: 20px;

          transition: color 0.8s ease-in-out;
        }
      }
    }
    .menu-box {
      .all-box {
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr 1fr;
        // background: #bcbcc1;
        @include flexbox();
        //   display: flex;
        @include flex-direction(row);
        @include flex-wrap(nowrap);
        @include justify-content(start);
        // @include align-items(center);
        z-index: 20;
        a {
          text-decoration: none;
        }
        .item-nacc {
          position: relative;
          @include flex(0 0 25%);

          padding: 4vw 3vw;
          background-color: #bcbcc1;
          color: #fff;
          margin: 1px;
          display: flex;
          transition: 0.7s;
          @include flex-wrap(wrap);
          @include flex-direction(column);
          @include align-items(center);
          @include justify-content(center);
          @include align-content(center);

          label {
            font-style: italic;
          }
          .img-1 {
            width: 34px;
            height: 43px;
            background: url("../images/header/home.png") no-repeat top center;
            background-size: contain;
          }
          .img-2 {
            width: 34px;
            height: 43px;
            background: url("../images/header/face-lift.png") no-repeat top
              center;
            background-size: contain;
          }
          .img-3 {
            width: 34px;
            height: 43px;
            background: url("../images/header/face-con.png") no-repeat top
              center;
            background-size: contain;
          }
          .img-4 {
            width: 34px;
            height: 43px;
            background: url("../images/header/eye.png") no-repeat top center;
            background-size: contain;
          }
          .img-5 {
            width: 34px;
            height: 43px;
            background: url("../images/header/nose.png") no-repeat top center;
            background-size: contain;
          }
          .img-6 {
            width: 34px;
            height: 43px;
            background: url("../images/header/bb.png") no-repeat top center;
            background-size: contain;
          }
          .img-7 {
            width: 34px;
            height: 43px;
            background: url("../images/header/body.png") no-repeat top center;
            background-size: contain;
          }
          .img-8 {
            width: 34px;
            height: 43px;
            background: url("../images/header/gyne.png") no-repeat top center;
            background-size: contain;
          }
          .img-9 {
            width: 34px;
            height: 43px;
            background: url("../images/header/sex.png") no-repeat top center;
            background-size: contain;
          }
          .img-10 {
            width: 34px;
            height: 43px;
            background: url("../images/header/center.png") no-repeat top center;
            background-size: contain;
          }
          .img-11 {
            width: 34px;
            height: 43px;
            background: url("../images/header/review.png") no-repeat top center;
            background-size: contain;
          }
          .img-12 {
            width: 34px;
            height: 43px;
            background: url("../images/header/article.png") no-repeat top center;
            background-size: contain;
          }
          .img-13 {
            width: 34px;
            height: 43px;
            background: url("../images/header/ii.png") no-repeat top center;
            background-size: contain;
          }
          .img-14 {
            width: 34px;
            height: 43px;
            background: url("../images/header/faq.png") no-repeat top center;
            background-size: contain;
          }
          .img-15 {
            width: 34px;
            height: 43px;
            background: url("../images/header/promo.png") no-repeat top center;
            background-size: contain;
          }
          &:hover {
            background-color: #fff;
            color: #08c6d2;
            .img-1 {
              background-image: url("../images/header/home-h.png");
            }
            .img-2 {
              background-image: url("../images/header/face-lift-ac.png");
            }
            .img-3 {
              background-image: url("../images/header/face-con-ac.png");
            }
            .img-4 {
              background-image: url("../images/header/eye-ac.png");
            }
            .img-5 {
              background-image: url("../images/header/nose-ac.png");
            }
            .img-6 {
              background-image: url("../images/header/bb-ac.png");
            }
            .img-7 {
              background-image: url("../images/header/body-ac.png");
            }
            .img-8 {
              background-image: url("../images/header/gyne-ac.png");
            }
            .img-9 {
              background-image: url("../images/header/sex-ac.png");
            }
            .img-10 {
              background-image: url("../images/header/center-ac.png");
            }
            .img-11 {
              background-image: url("../images/header/review-ac.png");
            }
            .img-12 {
              background-image: url("../images/header/article-ac.png");
            }
            .img-13 {
              background-image: url("../images/header/ii-ac.png");
            }
            .img-14 {
              background-image: url("../images/header/faq-ac.png");
            }
            .img-15 {
              background-image: url("../images/header/promo-ac.png");
            }
          }
        }
      }
      // #box-intent{
      //   display: none;
      // }
      .initem {
        z-index: 1;
        // transform: translate(0px, -600px);
        opacity: 0;
        // display: none;

        position: relative;
        @include flex(0 0 100%);
        bottom: 0;
        width: 100%;
        // overflow: hidden;
        max-height: 0vh;
        background: #48ced8;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;

        .lists {
          display: none;
          transition: 0.5s ease-in-out;
        }

        ul {
          li {
            font-family: "Sukhumvit Set";

            &:hover {
              background: #fff;
              p {
                color: #000;
              }
              a {
                text-decoration: underline;
              }
            }
            p {
              text-align: left;
              color: #fff;
              font-size: 14px;
            }

            border-bottom: 1px solid #fff;
          }
        }
      }
      .show-itemm {
        // transform: translate(0px, 0px);
        display: block;
        // height: 50vh;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        background: #08c6d2;
        max-height: 75vh;
        opacity: 1;
      }
    }
    #menu-boxs {
      display: block;
    }
    #menu_inbox {
      display: none;
    }
    .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
    }
    .social {
      padding-top: 20px;
      padding-left: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      align-content: stretch;
      a {
        padding-right: 10px;
      }
    }
    .tell {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      align-content: stretch;
      padding-left: 20px;
      a {
        text-decoration: none;
      }
      p {
        font-family: "Helvetica 45";
        font-size: 18px;
      }
    }
    .dropdown-menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      justify-content: start;
      top: 60px;
      background-color: #000000;
      width: 100vw;
      height: 75vh;
      transform: translate(0%, -116%);
      text-align: center;
      overflow: hidden;
      transition: transform 0.5s ease-in-out;
      z-index: 1;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;

      #formm {
        padding-bottom: 30px;
        height: 70vh;
        .form-horizontal {
          width: 100%;
        }
        .form-content {
          font-style: italic;
          .heading {
            color: #fff;
            text-align: left;
            font-size: 20px;
            span {
              color: #fff;
            }
          }
          input {
            color: #fff;
            font-style: normal;
            &::placeholder {
              color: #fff;
              opacity: 1; /* Firefox */
              font-style: italic;
              font-size: 14px;
              padding-left: 20px;
              margin-left: 20px;
            }
          }
          select {
            font-style: italic;
            &:focus {
              outline: none;
            }
            option {
              padding-left: 20px;
              color: #fff;
              &:focus {
                color: #08c6d2;
              }
            }
          }
          textarea {
            font-family: "Helvetica 45";
            color: #fff;
            width: 100%;
            background: #000;
            border: 1px solid #fff;
            border-radius: 10px;
            padding: 20px;
            &::placeholder {
              font-family: "Helvetica 45";
              color: #fff;
              opacity: 1; /* Firefox */
              font-style: italic;
              //   padding-left: 20px;
              //   padding-top: 20px;
              transition: color 0.8s ease-in-out;
            }
            &:focus {
              outline: none;
              border-color: #08c6d2;
              transition: border-color 0.8s ease-in-out;
              &::placeholder {
                color: #08c6d2;
                transition: color 0.8s ease-in-out;
              }
            }
          }
          .mt-40 {
            margin-top: 40px;
          }
          .headings {
            font-size: 16px;
          }
          .form-check-label {
          }
          .form-check-input:checked {
            background-color: #42698a;
            border-color: #42698a;
          }
          .form-control {
            width: 100%;
            padding: 0rem 0rem;
            height: 32px;
            font-size: 14px;
            color: #fff;
            border: none;
            background: #000;
            border-bottom: 1px solid #fff;
            border-radius: 0;
            box-shadow: none;
            margin-bottom: 39px;
          }
          .form-control:focus {
            border-color: #08c6d2;
            box-shadow: none;
            transition: border-color 0.8s ease-in-out;
            &::placeholder {
              color: #08c6d2;
              opacity: 1; /* Firefox */
              font-style: italic;
              transition: color 0.8s ease-in-out;
            }
          }
          .control-label {
            font-size: 17px;
            color: #ccc;
            position: absolute;
            top: 5px;
            left: 27px;
            text-align: center;
          }
          textarea .form-control {
            resize: vertical;
            height: 130px;
          }
          .btn {
            font-style: italic;
            font-size: 14px;
            width: 100%;
            height: 48px;
            background-color: #fff;
            border-radius: 0;
            color: #08c6d2;
            transition: all 0.5s ease 0s;
            border-radius: 30px;
            border: 1px solid #fff;
          }
        }
      }
    }

    .drop-menu {
      transform: translate(0%) !important;
    }
    .dt-s {
      display: none;
    }
  }

  .nav-item a {
    color: #000;
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease-out;
  }

  .nav-item a:hover {
    color: #3498db;
  }

  /* SEARCH FUNCTION */

  #search-icon {
    font-size: 0.9rem;
    margin-top: 3px;
    margin-left: 15px;
    transition: color 0.3s ease-out;
  }

  #search-icon:hover {
    color: #3498db;
    cursor: pointer;
  }

  .search {
    transform: translate(-35%);
    -webkit-transform: translate(-35%);
    transition: transform 0.7s ease-in-out;
    color: #3498db;
  }

  .no-search {
    transform: translate(0);
    transition: transform 0.7s ease-in-out;
  }

  .search-input {
    position: absolute;
    top: -4px;
    right: -125px;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.6s ease;
  }

  .search-active {
    opacity: 1;
    z-index: 0;
  }

  input {
    border: 0;
    border-left: 1px solid #ccc;
    border-radius: 0; /* FOR SAFARI */
    outline: 0;
    padding: 5px;
  }

  /* MOBILE MENU & ANIMATION */

  .menu-toggle .bar {
    // width: 25px;
    height: 2px;
    background-color: #3f3f3f;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:nth-child(1) {
      width: 30px;
    }
    &:nth-child(2) {
      width: 25px;
    }
    &:nth-child(3) {
      width: 30px;
    }
  }

  .menu-toggle {
    justify-self: start;
    margin-left: 25px;
    display: none;
    &:hover {
      cursor: pointer;
    }
  }

  .is-active {
    .bar {
      background-color: #fff;
    }
    .bar:nth-child(2) {
      opacity: 0;
    }
    .bar:nth-child(1) {
      -webkit-transform: translateY(8px) rotate(45deg);
      -ms-transform: translateY(8px) rotate(45deg);
      -o-transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg);
    }
    .bar:nth-child(3) {
      -webkit-transform: translateY(-8px) rotate(-45deg);
      -ms-transform: translateY(-8px) rotate(-45deg);
      -o-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  /* KEYFRAME ANIMATIONS */

  @-webkit-keyframes gradbar {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @-moz-keyframes gradbar {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes gradbar {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  /* Media Queries */

  /* Mobile Devices - Phones/Tablets */

  @media only screen and (max-width: 1199px) {
    .features {
      flex-direction: column;
      padding: 50px;
    }

    /* MOBILE HEADINGS */

    h1 {
      font-size: 1.9rem;
    }

    h2 {
      font-size: 1rem;
    }

    p {
      font-size: 0.8rem;
    }

    /* MOBILE NAVIGATION */

    .navbar .no-search {
      display: flex;
      flex-direction: column;
      position: absolute;
      justify-content: start;
      top: 60px;
      background-color: #08c6d2;
      width: 100vw;
      height: calc(100vh - 55px);
      transform: translate(-101%);
      text-align: center;
      overflow: hidden;
    }

    .navbar li {
      padding: 15px;
    }

    .navbar li:first-child {
      //   margin-top: 50px;
    }

    .navbar li a {
      font-size: 1rem;
    }

    .menu-toggle,
    .bar {
      display: block;
      cursor: pointer;
    }

    .mobile-nav {
      transform: translate(0%) !important;
    }

    /* SECTIONS */

    .headline {
      height: 20vh;
    }

    .feature-container p {
      margin-bottom: 25px;
    }

    .feature-container {
      margin-top: 20px;
    }

    .feature-container:nth-child(2) {
      order: -1;
    }

    /* SEARCH DISABLED ON MOBILE */

    #search-icon {
      display: none;
    }

    .search-input {
      display: none;
    }
  }

  @media #{$screen-md-min} {
    height: 65px;
  }
  @media #{$screen-md-min} {
    height: 80px;
  }

  @media #{$screen-md-min} {
    height: auto;
    .mb-s {
      display: none;
    }
    .dt-s {
      display: block;
    }
  }
  .desktop-wrapper {
    padding-top: 15px;
    // padding-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
    align-items: center;
    align-content: center;
    height: 100%;
    cursor: pointer;
    // position: relative;
    // .row{

    // }

    .logo {
      background: url("../images/header/logo-dt.svg") no-repeat center center;
      background-size: contain;
      max-width: 267px;
      height: 49px;
    }
    .col-7 {
      position: static;
    }
    .navv {
      #hover-service {
        // display: block;
        display: none;
        position: absolute;
        width: 100%;
        background: #08c6d2;
        z-index: 10;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        top: 84px;
        .menu-service {
          width: 100%;
          .all-box {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: stretch;
            align-content: center;
            .item-nacc {
              background: #bcbcc1;
              color: #fff;
              margin: 1px;
              margin-top: 3px;
              width: 130px;
              height: 150px;
              text-align: center;
              display: flex;
              flex-direction: column;
              flex-wrap: nowrap;
              justify-content: center;
              align-items: center;
              align-content: center;
              font-family: "Helvetica 45";
              font-size: 18px;
              .img-1 {
                width: 34px;
                height: 43px;
                background: url("../images/header/home.png") no-repeat top
                  center;
                background-size: contain;
              }
              .img-2 {
                width: 34px;
                height: 43px;
                background: url("../images/header/face-lift.png") no-repeat top
                  center;
                background-size: contain;
              }
              .img-3 {
                width: 34px;
                height: 43px;
                background: url("../images/header/face-con.png") no-repeat top
                  center;
                background-size: contain;
              }
              .img-4 {
                width: 34px;
                height: 43px;
                background: url("../images/header/eye.png") no-repeat top center;
                background-size: contain;
              }
              .img-5 {
                width: 34px;
                height: 43px;
                background: url("../images/header/nose.png") no-repeat top
                  center;
                background-size: contain;
              }
              .img-6 {
                width: 34px;
                height: 43px;
                background: url("../images/header/bb.png") no-repeat top center;
                background-size: contain;
              }
              .img-7 {
                width: 34px;
                height: 43px;
                background: url("../images/header/body.png") no-repeat top
                  center;
                background-size: contain;
              }
              .img-8 {
                width: 34px;
                height: 43px;
                background: url("../images/header/gyne.png") no-repeat top
                  center;
                background-size: contain;
              }
              .img-9 {
                width: 34px;
                height: 43px;
                background: url("../images/header/sex.png") no-repeat top center;
                background-size: contain;
              }
              .img-10 {
                width: 34px;
                height: 43px;
                background: url("../images/header/center.png") no-repeat top
                  center;
                background-size: contain;
              }
              .img-11 {
                width: 34px;
                height: 43px;
                background: url("../images/header/review.png") no-repeat top
                  center;
                background-size: contain;
              }
              .img-12 {
                width: 34px;
                height: 43px;
                background: url("../images/header/article.png") no-repeat top
                  center;
                background-size: contain;
              }
              .img-13 {
                width: 34px;
                height: 43px;
                background: url("../images/header/ii.png") no-repeat top center;
                background-size: contain;
              }
              .img-14 {
                width: 34px;
                height: 43px;
                background: url("../images/header/faq.png") no-repeat top center;
                background-size: contain;
              }
              .img-15 {
                width: 34px;
                height: 43px;
                background: url("../images/header/promo.png") no-repeat top
                  center;
                background-size: contain;
              }
              &:hover {
                background-color: #fff;
                color: #08c6d2;
                .img-1 {
                  ç: url("../images/header/home-h.png");
                }
                .img-2 {
                  background-image: url("../images/header/face-lift-ac.png");
                }
                .img-3 {
                  background-image: url("../images/header/face-con-ac.png");
                }
                .img-4 {
                  background-image: url("../images/header/eye-ac.png");
                }
                .img-5 {
                  background-image: url("../images/header/nose-ac.png");
                }
                .img-6 {
                  background-image: url("../images/header/bb-ac.png");
                }
                .img-7 {
                  background-image: url("../images/header/body-ac.png");
                }
                .img-8 {
                  background-image: url("../images/header/gyne-ac.png");
                }
                .img-9 {
                  background-image: url("../images/header/sex-ac.png");
                }
                .img-10 {
                  background-image: url("../images/header/center-ac.png");
                }
                .img-11 {
                  background-image: url("../images/header/review-ac.png");
                }
                .img-12 {
                  background-image: url("../images/header/article-ac.png");
                }
                .img-13 {
                  background-image: url("../images/header/ii-ac.png");
                }
                .img-14 {
                  background-image: url("../images/header/faq-ac.png");
                }
                .img-15 {
                  background-image: url("../images/header/promo-ac.png");
                }
              }
            }
            .listr {
              position: absolute;
              width: 100%;
              left: 0;
              top: 150px;
              padding-top: 20px;
              background: #08c6d2;

              .menu-list {
                // padding-left: 105px;
                // padding-right: 65px;
                height: 150px;
                position: relative;
                @include flex();
                @include flex-direction(column);
                @include flex-wrap(wrap);
                @include align-content(flex-start);
                display: flex;
                div {
                  padding: 10px;
                  padding-right: 40px;
                  @include flex(0 0 33.33%);
                  a {
                    p {
                      font-family: "Sukhumvit Set";
                      text-align: left;
                      font-size: 14px;
                    }
                    &:hover {
                      cursor: pointer;
                      p {
                        color: #000;
                        text-decoration: underline;
                      }
                    }
                  }
                }
              }
            }
            .no2,
            .no3,
            .no4,
            .no5,
            .no6,
            .no7,
            .no8,
            .no9,
            .no10 {
              display: none;
            }

            #nm2:hover .no2 {
              display: block;
            }
            #nm3:hover .no3 {
              display: block;
            }
            #nm4:hover .no4 {
              display: block;
            }
            #nm5:hover .no5 {
              display: block;
            }
            #nm6:hover .no6 {
              display: block;
            }
            #nm7:hover .no7 {
              display: block;
            }
            #nm8:hover .no8 {
              display: block;
            }
            #nm9:hover .no9 {
              display: block;
            }
            #nm10:hover .no10 {
              display: block;
            }
          }
        }
      }

      .service:hover #hover-service {
        display: block;
      }
    }
    .nav {
      @include flexbox();
      @include align-items(flex-end);
      @include align-content(flex-end);

      bottom: 0;
      .list-me {
        @include flex(0 0 14.28%);
        text-align: center;
        font-size: 14px;
        font-style: italic;
        height: 39px !important;
        a {
          color: #6d6e71;
          text-decoration: none;
        }

        &:hover {
          .link-nav {
            font-style: normal;
            color: #08c6d2 !important;
            font-weight: 600;
          }
        }
      }
    }
  }
  .m-right {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    align-content: center;
    .dropbtn {
      font-family: "Helvetica 45" !important;
      font-style: italic;
      background-color: #fff;
      color: #000;
      padding-top: 19px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }

    .dropdown {
      font-family: "Helvetica 45" !important;
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 60px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown:hover .dropbtn {
      background-color: #fff;
    }
    .ss {
      padding-top: 13px;
    }
    .nav-chat {
      background: url('../images/header/nav-chat.svg')no-repeat top center;
      background-size: contain; 
      z-index: 2;
      width: 74px;
      position: absolute;
      bottom: -27px;
      height: 73px;
      right: 00px;
      @media #{$screen-lg-min} {
        background-image: url("../images/header/nav-chat-dt.png");
        width: 200px;
        height: 90px;
        right: 40px;
      }
    }
  }
  .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: start;
    top: 85px;
    background-color: #000000;
    width: 50vw;
    right: 0;
    height: 75vh;
    transform: translate(0%, -116%);
    text-align: center;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    z-index: 1;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    #formm {
      padding-bottom: 30px;
      height: 70vh;
      .form-horizontal {
        width: 100%;
      }
      .form-content {
        font-style: italic;
        .heading {
          color: #fff;
          text-align: left;
          font-size: 20px;
          span {
            color: #fff;
          }
        }
        input {
          color: #fff;
          font-style: normal;
          &::placeholder {
            color: #fff;
            opacity: 1; /* Firefox */
            font-style: italic;
            font-size: 14px;
            padding-left: 20px;
            margin-left: 20px;
          }
        }
        select {
          font-style: italic;
          &:focus {
            outline: none;
          }
          option {
            padding-left: 20px;
            color: #fff;
            &:focus {
              color: #08c6d2;
            }
          }
        }
        textarea {
          font-family: "Helvetica 45";
          color: #fff;
          width: 100%;
          background: #000;
          border: 1px solid #fff;
          border-radius: 10px;
          padding: 20px;
          &::placeholder {
            font-family: "Helvetica 45";
            color: #fff;
            opacity: 1; /* Firefox */
            font-style: italic;
            //   padding-left: 20px;
            //   padding-top: 20px;
            transition: color 0.8s ease-in-out;
          }
          &:focus {
            outline: none;
            border-color: #08c6d2;
            transition: border-color 0.8s ease-in-out;
            &::placeholder {
              color: #08c6d2;
              transition: color 0.8s ease-in-out;
            }
          }
        }
        .mt-40 {
          margin-top: 40px;
        }
        .headings {
          font-size: 16px;
        }
        .form-check-label {
        }
        .form-check-input:checked {
          background-color: #42698a;
          border-color: #42698a;
        }
        .form-control {
          width: 100%;
          padding: 0rem 0rem;
          height: 32px;
          font-size: 14px;
          color: #fff;
          border: none;
          background: #000;
          border-bottom: 1px solid #fff;
          border-radius: 0;
          box-shadow: none;
          margin-bottom: 39px;
        }
        .form-control:focus {
          border-color: #08c6d2;
          box-shadow: none;
          transition: border-color 0.8s ease-in-out;
          &::placeholder {
            color: #08c6d2;
            opacity: 1; /* Firefox */
            font-style: italic;
            transition: color 0.8s ease-in-out;
          }
        }
        .control-label {
          font-size: 17px;
          color: #ccc;
          position: absolute;
          top: 5px;
          left: 27px;
          text-align: center;
        }
        textarea .form-control {
          resize: vertical;
          height: 130px;
        }
        .btn {
          font-style: italic;
          font-size: 14px;
          width: 100%;
          height: 48px;
          background-color: #fff;
          border-radius: 0;
          color: #08c6d2;
          transition: all 0.5s ease 0s;
          border-radius: 30px;
          border: 1px solid #fff;
        }
      }
    }
  }
  .drop-menu {
    transform: translate(0%) !important;
  }
}
