@charset "UTF-8";
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-moz-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-ms-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-o-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes loadingD {
  0% {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    -khtml-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes loadingD {
  0% {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    -khtml-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes loadingD {
  0% {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    -khtml-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes loadingD {
  0% {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    -khtml-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes loadingD {
  0% {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    -khtml-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.img-fluid {
  display: block;
  max-width: 100%; }

*, *::after, *::before {
  box-sizing: border-box; }

html {
  font-size: 12px; }
  @media (min-width: 480px) {
    html {
      font-size: 16px; } }
  @media (min-width: 768px) {
    html {
      font-size: 20px; } }

body {
  margin: 0;
  padding: 0;
  font-family: 'Kanit',sans-serif;
  font-style: normal;
  line-height: 1.5;
  font-size: 12px;
  color: #777777; }
  @media (min-width: 480px) {
    body {
      font-size: 16px; } }
  @media (min-width: 768px) {
    body {
      font-size: 20px; } }

@media (min-width: 1600px) {
  .container {
    max-width: 1280px; } }

.color-white {
  color: #ffffff !important; }

.color-k02 {
  color: #b39543 !important; }

.d-block {
  display: block !important; }

.d-none {
  display: none !important; }

.d-inline-block {
  display: inline-block; }

.text-decoration-none {
  text-decoration: none; }
  .text-decoration-none:hover {
    text-decoration: underline !important; }

#header {
  background: #f4d533;
  height: 52px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; }
  @media (min-width: 576px) {
    #header {
      height: 65px; } }
  @media (min-width: 992px) {
    #header {
      height: 80px; } }
  #header .header-wrapper {
    position: relative;
    width: 100%;
    height: 100%; }
    #header .header-wrapper .logo {
      width: 104px;
      height: 80px;
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      background: url("../images/icon/logo.png") no-repeat center center;
      background-size: contain;
      -webkit-transform: translate3d(-50%, 0, 0);
      -moz-transform: translate3d(-50%, 0, 0);
      -o-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
      text-indent: -9999px;
      z-index: 9; }
      @media (min-width: 576px) {
        #header .header-wrapper .logo {
          width: 130px;
          height: 100px; } }
    #header .header-wrapper .toggle-menu {
      background: url("../images/icon/btn-toggle.png") no-repeat center center;
      background-size: contain;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 50%;
      right: 15px;
      -webkit-transform: translate3d(0, -50%, 0);
      -moz-transform: translate3d(0, -50%, 0);
      -o-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0);
      text-indent: -9999px; }
      @media (min-width: 576px) {
        #header .header-wrapper .toggle-menu {
          width: 50px;
          height: 50px; } }
      @media (min-width: 992px) {
        #header .header-wrapper .toggle-menu {
          display: none; } }
      #header .header-wrapper .toggle-menu.btn-close {
        background-image: url("../images/icon/btn-toggle-close.png"); }
    #header .header-wrapper .menu-nav {
      display: none; }
      @media (min-width: 992px) {
        #header .header-wrapper .menu-nav {
          display: block;
          height: 100%; } }
      #header .header-wrapper .menu-nav .nav {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        -webkit-align-content: center;
        -moz-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        position: relative;
        top: 22px;
        margin-left: -110px; }
        #header .header-wrapper .menu-nav .nav li {
          padding-left: 40px;
          padding-right: 40px; }
          #header .header-wrapper .menu-nav .nav li:nth-child(3) {
            padding-right: 60px;
            padding-left: 60px; }
        #header .header-wrapper .menu-nav .nav a {
          font-size: 1rem;
          color: #705712;
          text-decoration: none; }
          #header .header-wrapper .menu-nav .nav a:hover {
            color: #000000; }

.menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9;
  background: #f0c43c;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 120px;
  display: none; }
  .menu-mobile.animateIn {
    display: block; }
    @media (min-width: 992px) {
      .menu-mobile.animateIn {
        display: none; } }
  .menu-mobile ul li {
    border-bottom: solid 1px #ffffff;
    text-align: center; }
    .menu-mobile ul li a {
      color: #705712;
      font-size: 1.2rem;
      text-decoration: none;
      padding: 1em;
      display: block; }
      .menu-mobile ul li a:hover {
        background: #f4d26b; }

#footer {
  font-size: 0.8rem;
  background: #000000;
  padding: 1em 0;
  text-align: center;
  color: #b39543; }

#aboutus {
  font-size: 0.75rem;
  background: #292510 url("../images/aboutus/bg.png") no-repeat center center;
  background-size: cover;
  color: #ffffff;
  padding-top: 2em;
  padding-bottom: 2em; }
  @media (min-width: 992px) {
    #aboutus {
      padding-top: 3.5em;
      padding-bottom: 3.5em; } }
  #aboutus .row {
    margin-left: -5px;
    margin-right: -5px; }
    @media (min-width: 576px) {
      #aboutus .row {
        margin-left: -15px;
        margin-right: -15px; } }
    #aboutus .row div[class^='col-'] {
      padding-left: 5px;
      padding-right: 5px; }
      @media (min-width: 576px) {
        #aboutus .row div[class^='col-'] {
          padding-left: 15px;
          padding-right: 15px; } }
  #aboutus .logo {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 140px; }
  #aboutus .box-aboutus {
    position: relative;
    padding-bottom: 1.2em; }
    @media (min-width: 992px) {
      #aboutus .box-aboutus {
        padding-left: 2em;
        margin-top: 2em; } }
    #aboutus .box-aboutus:after {
      display: none; }
      @media (min-width: 992px) {
        #aboutus .box-aboutus:after {
          display: block;
          content: '';
          width: 1px;
          position: absolute;
          top: 0.8em;
          left: 0;
          height: 3em;
          border-left: solid 1px #b39543; } }
    #aboutus .box-aboutus.box-aboutus-line {
      padding-top: 1.2em;
      padding-bottom: 0; }
      @media (min-width: 992px) {
        #aboutus .box-aboutus.box-aboutus-line {
          padding-top: 0;
          padding-bottom: 1.2em; } }
      #aboutus .box-aboutus.box-aboutus-line:before {
        content: '';
        width: 3em;
        position: absolute;
        top: 0;
        height: 1px;
        border-bottom: solid 1px #b39543;
        display: block; }
        @media (min-width: 992px) {
          #aboutus .box-aboutus.box-aboutus-line:before {
            display: none; } }
    #aboutus .box-aboutus h3 {
      font-size: 1.2rem; }
      @media (min-width: 992px) {
        #aboutus .box-aboutus h3 {
          font-size: 1.5rem;
          padding-bottom: 0.3em; } }
    #aboutus .box-aboutus strong {
      display: block; }
      @media (min-width: 992px) {
        #aboutus .box-aboutus strong {
          display: inline-block; } }

.section-banner {
  position: relative;
  padding-bottom: 80px;
  padding-top: 52px; }
  @media (min-width: 576px) {
    .section-banner {
      padding-bottom: 100px;
      padding-top: 65px; } }
  @media (min-width: 992px) {
    .section-banner {
      padding-top: 80px; } }
  .section-banner .banner .img-m {
    display: block; }
    @media (min-width: 992px) {
      .section-banner .banner .img-m {
        display: none; } }
  .section-banner .banner .img-d {
    display: none; }
    @media (min-width: 992px) {
      .section-banner .banner .img-d {
        display: block; } }
  .section-banner .our-banner {
    width: 100%;
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 100px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 100px;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 0;
    overflow: hidden;
    position: relative; }
    .section-banner .our-banner .head {
      position: absolute;
      top: 50%;
      -webkit-transform: translate3d(0%, -50%, 0);
      -moz-transform: translate3d(0%, -50%, 0);
      -o-transform: translate3d(0%, -50%, 0);
      transform: translate3d(0%, -50%, 0);
      text-align: center;
      width: 100%; }
      .section-banner .our-banner .head h3 {
        font-size: 3.3rem;
        font-weight: 900;
        color: #ffffff;
        font-family: 'Mitr'; }
      .section-banner .our-banner .head h4 {
        font-size: 1.5rem;
        color: #b39543; }
  .section-banner .scroll {
    width: 120px;
    height: 64px;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
    -khtml-transform: translate(-50%, -50%) rotate(-90deg);
    -moz-transform: translate(-50%, -50%) rotate(-90deg);
    -ms-transform: translate(-50%, -50%) rotate(-90deg);
    -o-transform: translate(-50%, -50%) rotate(-90deg);
    transform: translate(-50%, -50%) rotate(-90deg);
    -webkit-transform-origin: 50% 50%;
    -khtml-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
    @media (min-width: 576px) {
      .section-banner .scroll {
        width: 150px;
        height: 80px; } }
    .section-banner .scroll .cycle {
      width: 64px;
      height: 64px;
      background: #ffffff;
      position: absolute;
      top: 0%;
      left: 50%;
      -webkit-transform: translate3d(-50%, 0%, 0);
      -moz-transform: translate3d(-50%, 0%, 0);
      -o-transform: translate3d(-50%, 0%, 0);
      transform: translate3d(-50%, 0%, 0);
      -webkit-border-radius: 100%;
      -khtml-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      border-radius: 100%; }
      @media (min-width: 576px) {
        .section-banner .scroll .cycle {
          width: 80px;
          height: 80px; } }
    .section-banner .scroll .text {
      font-size: 0.95rem;
      text-transform: uppercase;
      position: absolute;
      top: 50%;
      left: 0%;
      -webkit-transform: translate3d(0%, -50%, 0);
      -moz-transform: translate3d(0%, -50%, 0);
      -o-transform: translate3d(0%, -50%, 0);
      transform: translate3d(0%, -50%, 0);
      color: #b39543;
      width: 50%;
      text-align: right; }
    .section-banner .scroll .line {
      width: 40%;
      height: 1px;
      border-bottom: solid 1px #b39543;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%; }

.section-02 {
  padding-top: 2em;
  padding-bottom: 2em;
  position: relative; }
  .section-02:after {
    width: 1px;
    height: 1em;
    border-left: solid 2px #25355b;
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0%, 0);
    -moz-transform: translate3d(-50%, 0%, 0);
    -o-transform: translate3d(-50%, 0%, 0);
    transform: translate3d(-50%, 0%, 0); }
  .section-02 .s1-logo-desktop {
    display: none; }
    @media (min-width: 992px) {
      .section-02 .s1-logo-desktop {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        width: 45%;
        -webkit-transform: translate3d(0%, -50%, 0);
        -moz-transform: translate3d(0%, -50%, 0);
        -o-transform: translate3d(0%, -50%, 0);
        transform: translate3d(0%, -50%, 0); } }
    @media (min-width: 1200px) {
      .section-02 .s1-logo-desktop {
        width: 560px; } }
    @media (min-width: 1400px) {
      .section-02 .s1-logo-desktop {
        width: 650px; } }
    @media (min-width: 1600px) {
      .section-02 .s1-logo-desktop {
        width: 750px; } }
    .section-02 .s1-logo-desktop img {
      margin-left: auto;
      margin-right: 0; }
  .section-02 .section-02-detail {
    position: relative; }
    .section-02 .section-02-detail .container-fluid {
      padding-left: 0px;
      padding-right: 0px; }
      @media (min-width: 576px) {
        .section-02 .section-02-detail .container-fluid {
          padding-left: 0px;
          padding-right: 0px; } }
      @media (min-width: 992px) {
        .section-02 .section-02-detail .container-fluid {
          padding-left: 0px;
          padding-right: 15px;
          margin-left: auto;
          margin-right: auto;
          max-width: 960px; } }
      @media (min-width: 1200px) {
        .section-02 .section-02-detail .container-fluid {
          max-width: 1140px; } }
      @media (min-width: 1400px) {
        .section-02 .section-02-detail .container-fluid {
          max-width: 1330px; } }
      .section-02 .section-02-detail .container-fluid .row {
        margin-left: 0;
        margin-right: 0; }
        .section-02 .section-02-detail .container-fluid .row div[class^='col-'] {
          padding-left: 0;
          padding-right: 0; }
      .section-02 .section-02-detail .container-fluid .box-card {
        padding-left: 35px;
        padding-right: 15px; }
        @media (min-width: 576px) {
          .section-02 .section-02-detail .container-fluid .box-card {
            padding-left: 60px;
            padding-right: 30px; } }
        @media (min-width: 992px) {
          .section-02 .section-02-detail .container-fluid .box-card {
            padding-left: 35px;
            padding-right: 15px; } }
        @media (min-width: 992px) {
          .section-02 .section-02-detail .container-fluid .box-card {
            min-height: 544px;
            padding-top: 80px; } }
        @media (min-width: 1600px) {
          .section-02 .section-02-detail .container-fluid .box-card {
            min-height: 680px;
            padding-top: 100px; } }
        .section-02 .section-02-detail .container-fluid .box-card .box-card--head {
          position: relative; }
          .section-02 .section-02-detail .container-fluid .box-card .box-card--head h3 {
            font-size: 1.2rem;
            font-weight: 600;
            color: #b39543; }
          .section-02 .section-02-detail .container-fluid .box-card .box-card--head h4 {
            font-size: 2.25rem;
            font-weight: 600;
            line-height: 1.3em;
            color: #25355b; }
          .section-02 .section-02-detail .container-fluid .box-card .box-card--head:before {
            width: 1px;
            height: 100%;
            position: absolute;
            top: 0;
            left: -15px;
            border-right: solid 2px #f4d533;
            content: ''; }
            @media (min-width: 576px) {
              .section-02 .section-02-detail .container-fluid .box-card .box-card--head:before {
                left: -20px; } }
          .section-02 .section-02-detail .container-fluid .box-card .box-card--head:after {
            content: '';
            width: 15px;
            height: 30px;
            background: url("../images/icon/bg-y.png") repeat 0 0;
            background-size: 25%;
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: -35px;
            -webkit-transform: translate3d(0, -50%, 0);
            -moz-transform: translate3d(0, -50%, 0);
            -o-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0); }
            @media (min-width: 576px) {
              .section-02 .section-02-detail .container-fluid .box-card .box-card--head:after {
                width: 100%;
                height: 60px;
                left: -100%;
                background-size: auto;
                -webkit-transform: translate3d(-35px, -50%, 0);
                -moz-transform: translate3d(-35px, -50%, 0);
                -o-transform: translate3d(-35px, -50%, 0);
                transform: translate3d(-35px, -50%, 0); } }
        .section-02 .section-02-detail .container-fluid .box-card .box-card--description {
          font-size: 1rem;
          padding-top: 0.6em;
          padding-bottom: 0.6em;
          font-weight: 100; }
          .section-02 .section-02-detail .container-fluid .box-card .box-card--description .btn-more {
            color: #25355b;
            font-weight: 500;
            margin-top: 0.6em;
            display: inline-block;
            position: relative;
            padding-left: 20px; }
            .section-02 .section-02-detail .container-fluid .box-card .box-card--description .btn-more:before {
              content: '';
              width: 20px;
              height: 30px;
              display: block;
              background: url("../images/icon/arrow-right.png") no-repeat center center;
              background-size: contain;
              position: absolute;
              top: 50%;
              left: 0;
              -webkit-transform: translate3d(0, -50%, 0);
              -moz-transform: translate3d(0, -50%, 0);
              -o-transform: translate3d(0, -50%, 0);
              transform: translate3d(0, -50%, 0); }
      @media (min-width: 992px) {
        .section-02 .section-02-detail .container-fluid .col-logo {
          display: none; } }
      .section-02 .section-02-detail .container-fluid .s1-logo {
        margin-right: 0px; }
        @media (min-width: 576px) {
          .section-02 .section-02-detail .container-fluid .s1-logo {
            margin-right: 0px;
            max-width: 80%;
            margin-left: auto; } }
  .section-02 .section-02-million {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 20px;
    padding-right: 20px;
    position: relative; }
    @media (min-width: 1200px) {
      .section-02 .section-02-million {
        padding-top: 4em;
        padding-bottom: 4em; } }
    .section-02 .section-02-million:before {
      content: '';
      width: 100%;
      height: 1px;
      border-top: solid 1px #b39543;
      position: absolute;
      top: 80px;
      left: 0; }
      @media (min-width: 480px) {
        .section-02 .section-02-million:before {
          top: 112px; } }
      @media (min-width: 576px) {
        .section-02 .section-02-million:before {
          top: 126px; } }
      @media (min-width: 768px) {
        .section-02 .section-02-million:before {
          background: url("../images/number-big.png") no-repeat center center;
          background-size: 150%;
          width: 100%;
          height: 208px;
          top: 40px;
          border: none; } }
      @media (min-width: 1200px) {
        .section-02 .section-02-million:before {
          top: 80px; } }
      @media (min-width: 1400px) {
        .section-02 .section-02-million:before {
          background-size: auto; } }
    .section-02 .section-02-million--wrap {
      position: relative; }
      .section-02 .section-02-million--wrap h3 {
        font-size: 1.5rem;
        text-align: center;
        color: #b39543; }
      .section-02 .section-02-million--wrap .number {
        font-size: 4.2rem;
        text-align: center;
        font-size: 4.2rem;
        font-weight: 900;
        background: #ffffff url("../images/number.png") no-repeat center center;
        height: 40px;
        background-size: contain;
        width: 280px;
        margin-left: auto;
        margin-right: auto;
        text-indent: -9999px;
        position: relative;
        margin-top: 0.2em;
        margin-bottom: 0.2em; }
        @media (min-width: 480px) {
          .section-02 .section-02-million--wrap .number {
            height: 64px;
            width: 448px; } }
        @media (min-width: 576px) {
          .section-02 .section-02-million--wrap .number {
            height: 80px;
            width: 560px; } }
        @media (min-width: 768px) {
          .section-02 .section-02-million--wrap .number {
            background: url("../images/number-s.png") no-repeat center center; } }
        .section-02 .section-02-million--wrap .number:before {
          content: '';
          width: 1px;
          height: 80%;
          border-left: solid 1px #b39543;
          position: absolute;
          top: 10%;
          left: -10px; }
          @media (min-width: 768px) {
            .section-02 .section-02-million--wrap .number:before {
              display: none; } }
        .section-02 .section-02-million--wrap .number:after {
          content: '';
          width: 1px;
          height: 80%;
          border-left: solid 1px #b39543;
          position: absolute;
          top: 10%;
          right: -10px; }
          @media (min-width: 768px) {
            .section-02 .section-02-million--wrap .number:after {
              display: none; } }
      .section-02 .section-02-million--wrap .recomment {
        text-align: center;
        margin-top: 0.5em;
        font-size: 1rem; }

.section-03 {
  padding-top: 3em;
  padding-bottom: 3em;
  position: relative;
  background: #ffffff url("../images/s3-bg-mobile.jpg") no-repeat top center;
  background-size: contain;
  min-height: 250px; }
  @media (min-width: 992px) {
    .section-03 {
      padding-top: 5em;
      padding-bottom: 4em; } }
  @media (min-width: 1200px) {
    .section-03 {
      background-image: url("../images/s3-bg-desktop.jpg"); } }
  .section-03:after {
    width: 1px;
    height: 1em;
    border-left: solid 2px #ffffff;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0%, 0);
    -moz-transform: translate3d(-50%, 0%, 0);
    -o-transform: translate3d(-50%, 0%, 0);
    transform: translate3d(-50%, 0%, 0); }
  .section-03 .wrap-video {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    background: #b39543; }
    @media (min-width: 992px) {
      .section-03 .wrap-video {
        border: solid 2px #ffffff;
        -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px 0px;
        -khtml-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px 0px;
        -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px 0px;
        -ms-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px 0px;
        -o-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px 0px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px 0px; } }
    .section-03 .wrap-video iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%; }

.section-04 {
  padding-top: 3em;
  padding-bottom: 8em;
  background: url("../images/s4-bg.png") no-repeat bottom right;
  background-size: 200px; }
  @media (min-width: 992px) {
    .section-04 {
      padding-top: 4em;
      background: url("../images/s4-bg-desktop.png") no-repeat bottom right;
      background-size: 300px; } }
  @media (min-width: 1400px) {
    .section-04 {
      background-size: 400px; } }
  .section-04 .head {
    padding-bottom: 1em;
    position: relative; }
    @media (min-width: 1200px) {
      .section-04 .head {
        padding-bottom: 2em; } }
    .section-04 .head:before {
      width: 3em;
      height: 1px;
      border-bottom: solid 2px #b39543;
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translate3d(-50%, 0%, 0);
      -moz-transform: translate3d(-50%, 0%, 0);
      -o-transform: translate3d(-50%, 0%, 0);
      transform: translate3d(-50%, 0%, 0);
      display: block; }
    .section-04 .head h3 {
      text-align: center;
      font-size: 1.5rem;
      color: #25355b;
      font-weight: 700;
      letter-spacing: 0.02em; }
      @media (min-width: 992px) {
        .section-04 .head h3 {
          font-size: 1.5rem; } }
  .section-04 .body {
    padding-top: 2em; }
    @media (min-width: 1200px) {
      .section-04 .body {
        padding-top: 2.5em; } }
    .section-04 .body .col-12 {
      margin-bottom: 2em; }
    .section-04 .body .box-text .box-text-head {
      background: #f9f9f9;
      position: relative;
      padding: 0.5em 1em;
      width: 270px;
      color: #25355b;
      font-weight: 700;
      font-size: 1.2rem;
      -webkit-border-top-left-radius: 1.5em;
      -webkit-border-top-right-radius: 0;
      -webkit-border-bottom-right-radius: 1.5em;
      -webkit-border-bottom-left-radius: 0;
      -moz-border-radius-topleft: 1.5em;
      -moz-border-radius-topright: 0;
      -moz-border-radius-bottomright: 1.5em;
      -moz-border-radius-bottomleft: 0;
      border-top-left-radius: 1.5em;
      border-top-right-radius: 0;
      border-bottom-right-radius: 1.5em;
      border-bottom-left-radius: 0; }
      @media (min-width: 768px) {
        .section-04 .body .box-text .box-text-head {
          font-size: 1rem; } }
      @media (min-width: 768px) {
        .section-04 .body .box-text .box-text-head {
          width: 100%; } }
      .section-04 .body .box-text .box-text-head .icon {
        width: 20px;
        height: 20px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 1em;
        top: 50%;
        -webkit-transform: translate3d(0%, -50%, 0);
        -moz-transform: translate3d(0%, -50%, 0);
        -o-transform: translate3d(0%, -50%, 0);
        transform: translate3d(0%, -50%, 0); }
        @media (min-width: 576px) {
          .section-04 .body .box-text .box-text-head .icon {
            width: 30px;
            height: 30px; } }
      .section-04 .body .box-text .box-text-head .text {
        padding-left: 25px; }
        @media (min-width: 576px) {
          .section-04 .body .box-text .box-text-head .text {
            padding-left: 35px; } }
    .section-04 .body .box-text .box-text-detail {
      padding: 0.5em 1em;
      font-size: 1rem; }
      @media (min-width: 768px) {
        .section-04 .body .box-text .box-text-detail {
          font-size: 0.9rem; } }
      .section-04 .body .box-text .box-text-detail .list {
        position: relative;
        padding-left: 1em;
        display: block; }
        @media (min-width: 992px) {
          .section-04 .body .box-text .box-text-detail .list {
            margin-top: 1em;
            font-weight: 100; } }
        .section-04 .body .box-text .box-text-detail .list:before {
          content: '●';
          position: absolute;
          top: 0;
          left: 0; }

.section-05 {
  padding-top: 3em;
  padding-bottom: 3em;
  background: #f9f9f9; }
  @media (min-width: 992px) {
    .section-05 {
      padding-top: 2em;
      padding-bottom: 4em;
      background: #ffffff; } }
  .section-05 .box-to-register {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #ffffff;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    position: relative;
    border: solid 1px #e1e1e1; }
    @media (min-width: 992px) {
      .section-05 .box-to-register {
        -webkit-border-radius: 16px;
        -khtml-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
        border-radius: 16px; }
        .section-05 .box-to-register:before {
          content: '';
          width: 68px;
          height: 68px;
          position: absolute;
          top: -34px;
          left: -34px;
          background: url("../images/icon/p-left.png") no-repeat center center; }
        .section-05 .box-to-register:after {
          content: '';
          width: 68px;
          height: 68px;
          position: absolute;
          bottom: -34px;
          right: -34px;
          background: url("../images/icon/p-right.png") no-repeat center center; } }
    .section-05 .box-to-register .box-to-register01 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -moz-box-flex: 0;
      -moz-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      padding: 15px;
      position: relative;
      color: #777777; }
      @media (min-width: 992px) {
        .section-05 .box-to-register .box-to-register01 {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 33.33%;
          -moz-box-flex: 0;
          -moz-flex: 0 0 33.33%;
          -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
          max-width: 33.33%; } }
      @media (min-width: 992px) {
        .section-05 .box-to-register .box-to-register01 {
          margin-top: 10px;
          padding-top: 40px;
          padding-bottom: 40px; } }
      @media (min-width: 1400px) {
        .section-05 .box-to-register .box-to-register01 {
          margin-top: 10px; } }
      .section-05 .box-to-register .box-to-register01 .text {
        padding-left: 25px; }
        @media (min-width: 480px) {
          .section-05 .box-to-register .box-to-register01 .text {
            padding-left: 50px; } }
        @media (min-width: 768px) {
          .section-05 .box-to-register .box-to-register01 .text {
            padding-left: 70px; } }
      .section-05 .box-to-register .box-to-register01:before {
        width: 20px;
        height: 20px;
        background: url("../images/icon/img07.png") no-repeat center center;
        background-size: contain;
        content: '';
        display: block;
        position: absolute;
        top: 25px;
        left: 15px; }
        @media (min-width: 480px) {
          .section-05 .box-to-register .box-to-register01:before {
            width: 32px;
            height: 32px;
            top: 32px;
            left: 24px; } }
        @media (min-width: 768px) {
          .section-05 .box-to-register .box-to-register01:before {
            width: 40px;
            height: 40px;
            top: 20px;
            left: 30px; } }
        @media (min-width: 992px) {
          .section-05 .box-to-register .box-to-register01:before {
            top: 50px; } }
      .section-05 .box-to-register .box-to-register01:after {
        border-right: solid 1px #e1e1e1;
        content: '';
        position: absolute;
        top: 10%;
        right: 1px;
        width: 1px;
        height: 80%; }
      .section-05 .box-to-register .box-to-register01 h4 {
        color: #b39543; }
    .section-05 .box-to-register .box-to-register02 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -moz-box-flex: 0;
      -moz-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      padding: 15px;
      position: relative;
      color: #777777; }
      @media (min-width: 992px) {
        .section-05 .box-to-register .box-to-register02 {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 33.33%;
          -moz-box-flex: 0;
          -moz-flex: 0 0 33.33%;
          -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
          max-width: 33.33%; } }
      @media (min-width: 992px) {
        .section-05 .box-to-register .box-to-register02 {
          margin-top: 10px;
          padding-top: 40px;
          padding-bottom: 40px; } }
      @media (min-width: 1400px) {
        .section-05 .box-to-register .box-to-register02 {
          margin-top: 10px; } }
      .section-05 .box-to-register .box-to-register02 .text {
        padding-left: 25px; }
        @media (min-width: 480px) {
          .section-05 .box-to-register .box-to-register02 .text {
            padding-left: 50px; } }
        @media (min-width: 768px) {
          .section-05 .box-to-register .box-to-register02 .text {
            padding-left: 70px; } }
        @media (min-width: 1200px) {
          .section-05 .box-to-register .box-to-register02 .text br {
            display: none; } }
        .section-05 .box-to-register .box-to-register02 .text a {
          text-decoration: none;
          color: #777777; }
      .section-05 .box-to-register .box-to-register02:before {
        width: 20px;
        height: 20px;
        background: url("../images/icon/img07.png") no-repeat center center;
        background-size: contain;
        content: '';
        display: block;
        position: absolute;
        top: 25px;
        left: 15px; }
        @media (min-width: 480px) {
          .section-05 .box-to-register .box-to-register02:before {
            width: 32px;
            height: 32px;
            top: 32px;
            left: 24px; } }
        @media (min-width: 768px) {
          .section-05 .box-to-register .box-to-register02:before {
            width: 40px;
            height: 40px;
            top: 20px;
            left: 30px; } }
        @media (min-width: 992px) {
          .section-05 .box-to-register .box-to-register02:before {
            top: 50px; } }
      .section-05 .box-to-register .box-to-register02 h4 {
        color: #b39543; }
    .section-05 .box-to-register .box-to-register03 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
      -moz-box-flex: 0;
      -moz-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      padding: 25px 15px;
      background: #f4d533 url("../images/icon/s5-bg.png") no-repeat bottom center;
      background-size: cover; }
      @media (min-width: 992px) {
        .section-05 .box-to-register .box-to-register03 {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 33.34%;
          -moz-box-flex: 0;
          -moz-flex: 0 0 33.34%;
          -ms-flex: 0 0 33.34%;
          flex: 0 0 33.34%;
          max-width: 33.34%;
          padding-top: 40px;
          padding-bottom: 40px;
          -webkit-border-top-left-radius: 0;
          -webkit-border-top-right-radius: 16px;
          -webkit-border-bottom-right-radius: 16px;
          -webkit-border-bottom-left-radius: 0;
          -moz-border-radius-topleft: 0;
          -moz-border-radius-topright: 16px;
          -moz-border-radius-bottomright: 16px;
          -moz-border-radius-bottomleft: 0;
          border-top-left-radius: 0;
          border-top-right-radius: 16px;
          border-bottom-right-radius: 16px;
          border-bottom-left-radius: 0; } }
      .section-05 .box-to-register .box-to-register03 a {
        font-weight: 700;
        color: #25355b;
        text-align: center;
        font-size: 1.2rem;
        background: #fff;
        border: solid 1px #e1e1e1;
        display: block;
        padding: 1em;
        width: 260px;
        margin: 0 auto;
        -webkit-border-radius: 8px;
        -khtml-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px;
        text-decoration: none; }
        @media (min-width: 480px) {
          .section-05 .box-to-register .box-to-register03 a {
            width: 80%; } }
        @media (min-width: 992px) {
          .section-05 .box-to-register .box-to-register03 a {
            font-size: 0.9rem;
            width: 90%; } }
        .section-05 .box-to-register .box-to-register03 a:hover {
          filter: alpha(opacity=96);
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=96)";
          -webkit-opacity: 0.96;
          -khtml-opacity: 0.96;
          -moz-opacity: 0.96;
          -ms-opacity: 0.96;
          -o-opacity: 0.96;
          opacity: 0.96; }
        .section-05 .box-to-register .box-to-register03 a span {
          padding-left: 20px;
          position: relative; }
          @media (min-width: 480px) {
            .section-05 .box-to-register .box-to-register03 a span {
              padding-left: 32px; } }
          @media (min-width: 768px) {
            .section-05 .box-to-register .box-to-register03 a span {
              padding-left: 40px; } }
          .section-05 .box-to-register .box-to-register03 a span:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 15px;
            height: 15px;
            display: block;
            background: url("../images/icon/img08.png") no-repeat center center;
            background-size: contain;
            -webkit-transform: translate3d(0, -50%, 0);
            -moz-transform: translate3d(0, -50%, 0);
            -o-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0); }
            @media (min-width: 480px) {
              .section-05 .box-to-register .box-to-register03 a span:before {
                width: 24px;
                height: 24px; } }
            @media (min-width: 768px) {
              .section-05 .box-to-register .box-to-register03 a span:before {
                width: 30px;
                height: 30px; } }

.section-06 {
  padding-top: 3em;
  padding-bottom: 3em;
  background: #ffffff; }
  @media (min-width: 992px) {
    .section-06 {
      padding-top: 8em;
      padding-bottom: 6em;
      background: url("../images/Layer-426.png") no-repeat center 400px; } }
  .section-06 .logo {
    margin-top: 6px; }
  .section-06 .col-logo {
    background: url("../images/Layer-426.png") no-repeat; }
    @media (min-width: 992px) {
      .section-06 .col-logo {
        display: none; } }
  @media (min-width: 992px) {
    .section-06 .section-06-box {
      border: solid 1px #f4d533;
      -webkit-border-radius: 1em;
      -khtml-border-radius: 1em;
      -moz-border-radius: 1em;
      -ms-border-radius: 1em;
      -o-border-radius: 1em;
      border-radius: 1em;
      padding: 15px;
      background: #ffffff url("../images/bg-singha.png") no-repeat center right;
      background-size: 15%;
      -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 0px -2px;
      -khtml-box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 0px -2px;
      -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 0px -2px;
      -ms-box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 0px -2px;
      -o-box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 0px -2px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 0px -2px; } }
  @media (min-width: 992px) {
    .section-06 .text-detail {
      max-width: 560px;
      margin: 0 auto;
      position: relative; } }
  .section-06 .text-detail .text-detail-head {
    padding: 0.3em 0.8em 0.3em 0;
    position: relative; }
    @media (min-width: 992px) {
      .section-06 .text-detail .text-detail-head {
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        -moz-transform: translate3d(0, -100%, 0);
        -o-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        width: 100%;
        background: #ffffff;
        padding-left: 180px; }
        .section-06 .text-detail .text-detail-head .line-l {
          display: none; } }
    @media (min-width: 992px) and (min-width: 992px) {
      .section-06 .text-detail .text-detail-head .line-l {
        border-right: solid 1px #f4d533;
        content: '';
        position: absolute;
        top: 55%;
        left: -20px;
        width: 1px;
        height: 50%;
        display: block; } }
    @media (min-width: 992px) {
        .section-06 .text-detail .text-detail-head .line-r {
          display: none; } }
    @media (min-width: 992px) and (min-width: 992px) {
      .section-06 .text-detail .text-detail-head .line-r {
        border-right: solid 1px #f4d533;
        content: '';
        position: absolute;
        top: 55%;
        right: -20px;
        width: 1px;
        height: 50%;
        display: block; } }

    .section-06 .text-detail .text-detail-head h3 {
      font-size: 1rem;
      color: #25355b; }
    .section-06 .text-detail .text-detail-head h4 {
      font-size: 1.4rem;
      color: #25355b; }
    .section-06 .text-detail .text-detail-head .logo {
      display: none; }
      @media (min-width: 992px) {
        .section-06 .text-detail .text-detail-head .logo {
          display: block;
          position: absolute;
          top: 10px;
          left: 30px;
          width: 140px; } }
    @media (min-width: 992px) {
      .section-06 .text-detail .text-detail-head .text {
        border-left: solid 1px #b39543;
        padding-left: 15px; } }
    .section-06 .text-detail .text-detail-head:after {
      border-right: solid 1px #b39543;
      content: '';
      position: absolute;
      top: 10%;
      left: -10px;
      width: 1px;
      height: 80%; }
      @media (min-width: 992px) {
        .section-06 .text-detail .text-detail-head:after {
          display: none; } }
  @media (min-width: 992px) {
    .section-06 .text-detail .text-detail-body {
      padding-top: 1em;
      padding-bottom: 2em; } }
  .section-06 .text-detail .text-detail-body ul li {
    background: #fff;
    padding: 0.3em 0.8em;
    margin-top: 1em; }
    @media (min-width: 992px) {
      .section-06 .text-detail .text-detail-body ul li {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex; } }
    @media (min-width: 1200px) {
      .section-06 .text-detail .text-detail-body ul li {
        margin-left: -30px;
        margin-right: -30px;
        padding: 0.5em 0.8em; } }
    .section-06 .text-detail .text-detail-body ul li label {
      display: block;
      font-size: 1.2rem;
      font-weight: 100;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -moz-box-flex: 0;
      -moz-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; }
      @media (min-width: 992px) {
        .section-06 .text-detail .text-detail-body ul li label {
          font-size: 1rem; } }
      @media (min-width: 1200px) {
        .section-06 .text-detail .text-detail-body ul li label {
          padding-left: 20px; } }
    .section-06 .text-detail .text-detail-body ul li em {
      display: block;
      font-size: 1rem;
      font-weight: 100;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -moz-box-flex: 0;
      -moz-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      position: relative; }
      @media (min-width: 992px) {
        .section-06 .text-detail .text-detail-body ul li em {
          padding-left: 30px; }
          .section-06 .text-detail .text-detail-body ul li em:before {
            content: '';
            position: absolute;
            top: 10%;
            left: 0;
            height: 80%;
            width: 1px;
            border-left: solid 1px #ebebeb; } }
    .section-06 .text-detail .text-detail-body ul li:nth-child(odd) {
      background: #f9f9f9;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -moz-box-flex: 0;
      -moz-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; }

/*# sourceMappingURL=style.css.map */
